.d-address {
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(50, 50, 93, 0.1), 0px 0px 5px rgba(0, 0, 0, 0.07);
  border-radius: 4px;
  padding: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  input {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cad1d7;
    width: 100%;
  }

  &__radio {
    flex: 1;
  }
}

.address {
  display: flex;
  align-items: flex-start;
  width: 90%;

  &__details {
    width: 100%;

    h3 {
      display: block;
      color: #525f7f;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
    }
    p {
      cursor: default !important;
      max-width: 90% !important;
      color: #525f7f !important;
      font-size: 16px !important;
      line-height: 22px !important;
      margin-top: 10px !important;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
  }

  &__button {
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgba(50, 50, 93, 0.1),
      0px 0px 5px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    padding: 5px 15px;
    background: #5e72e4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px !important;

    &:hover {
      cursor: pointer;
    }

    p {
      font-size: 12px !important;
      color: white !important;
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}

.choose-address {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    cursor: pointer;
    color: #5e72e4;
    font-size: 16px;
    line-height: 22px;
  }

  &__details {
    display: flex;
    flex: 1;

    &__column {
      flex: 1;
    }
  }
}

.choose-phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input {
    margin: 0;
    margin-right: 15px;
  }

  div {
    flex: 1;
    display: flex;
    align-items: center;

    p {
      cursor: text;
      color: #525f7f;
    }
  }

  p {
    cursor: pointer;
    color: #5e72e4;
    font-size: 16px;
    line-height: 22px;
  }
}

.choose-email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  input {
    margin: 0;
    margin-right: 15px;
  }

  div {
    flex: 1;
    display: flex;
    align-items: center;
    p {
      cursor: text;
      color: #525f7f;
    }
  }

  p {
    cursor: pointer;
    color: #5e72e4;
    font-size: 16px;
    line-height: 22px;
  }
}
